## /etc/systemd/system/odoo_10_30200.service
[Unit]
Description=Odoo 10.0 ERP server (cba) → 30200_db-clean → 30200/tcp => logs: /opt/odoo/odoo_10/log/odoo_10_30200.log
After=postgresql-12.service

[Service]
Type=simple
User=anubia
Group=anubia

ExecStart=/opt/odoo/odoo_10/odoo_10-virtualenv/bin/python2.7 /opt/odoo/odoo_10/src/OCA/OCB/odoo-bin -c  /opt/odoo/odoo_10/config/odoo_10.cfg

[Install]
WantedBy=multi-user.target
